.piano
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.piano-container
{
    background-color:rgb(39, 39, 39);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}